<div class="cards">

  <div class="card glass">
    <div class="card-label">
      ACTIVE
    </div>

    <h2 id="statActive">0</h2>

    <div class="card-desc">
      peserta online
    </div>
  </div>

  <div class="card glass">
    <div class="card-label">
      WARNING
    </div>

    <h2 id="statWarning">0</h2>

    <div class="card-desc">
      pelanggaran ringan
    </div>
  </div>

  <div class="card glass">
    <div class="card-label">
      CRITICAL
    </div>

    <h2 id="statCritical">0</h2>

    <div class="card-desc">
      perlu tindakan
    </div>
  </div>

  <div class="card glass">
    <div class="card-label">
      OTP UNLOCK
    </div>

    <h2 id="statOtp">0</h2>

    <div class="card-desc">
      unlock normal
    </div>
  </div>

  <div class="card glass">
    <div class="card-label">
      MASTER OTP
    </div>

    <h2 id="statMaster">0</h2>

    <div class="card-desc">
      unlock >25 violation
    </div>
  </div>

</div>
